awkward==1.10.2
awkward0==0.15.5
boost-histogram==1.3.2
-e git+https://github.com/andrzejnovak/boostedhiggs.git@32378b3b66d7e489e7343bc01ad45b446da36288#egg=boostedhiggs
cachetools==5.3.0
certifi==2022.12.7
click==8.1.3
cloudpickle==2.2.1
coffea==0.7.20
contourpy==1.0.7
correctionlib==2.2.2
cycler==0.11.0
dask==2023.3.2
dask-jobqueue==0.8.1
distributed==2023.3.2
fonttools==4.38.0
fsspec==2023.1.0
HeapDict==1.0.1
hist==2.6.3
histoprint==2.4.0
importlib-metadata==6.2.0
importlib-resources==5.12.0
Jinja2==3.1.2
kiwisolver==1.4.4
llvmlite==0.39.1
locket==1.0.0
lz4==4.3.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.0
mdurl==0.1.2
mplhep==0.3.26
mplhep-data==0.0.3
msgpack==1.0.5
numba==0.56.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
partd==1.3.0
Pillow==9.4.0
psutil==5.9.4
pyarrow==11.0.0
pydantic==1.10.5
Pygments==2.14.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
rhalphalib==0.1.3
rich==13.3.1
scipy==1.10.1
six==1.16.0
sortedcontainers==2.4.0
tblib==1.7.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
typing_extensions==4.5.0
uhi==0.3.3
uproot==4.3.7
uproot3==3.14.4
uproot3-methods==0.10.1
urllib3==1.26.15
xrootd @ file:///home/conda/feedstock_root/build_artifacts/xrootd_1676745550582/work/build-dir/bindings/python
zict==2.2.0
zipp==3.15.0
